<%- include('partials/header.ejs') %>

<div id="edit" class="container">
  <h1>Edit your blog</h1>
  <form action="/edit/<%= id %>" method="post" class="form-wrapper">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="<%= post.title %>">
    <label for="content">Content</label>
    <textarea name="content" id="content" rows="4" cols="50"><%= post.content %></textarea>
    <input type="submit" value="Submit">
  </form>
</div>

<%- include('partials/footer.ejs') %>