<%- include('partials/header.ejs') %>

<% if (posts.length > 0) { %>
  <% for( let i = 0; i < posts.length; i++ ) { %>
    <h1><%= posts[i].title %></h1>
    <form action="/edit/<%= i %>" method="get">
      <button type="submit">Edit</button>
    </form>
    <form action="/delete/<%= i %>" method="post">
      <button type="submit">Delete</button>
    </form>
    <p><%= posts[i].content %></p>
  <% } %>
<% } else { %>
  <h1>There's no blog yet. Start creating one!</h1>
<% } %>

<%- include('partials/footer.ejs') %>